{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'rodeo_app/_login.css' %}">
</head>
<body>
    <div class="center">
        <div class="logo">
            <img src="{% static 'rodeo_app/logo3.svg' %}"  width="160" height="60">
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="card form-group mt-5">
                <div class="card-body">
                    
                    
                    {{ form|crispy }}
                    <button class="btn btn-outline-info mt-2" type="submit">Log in</button>
                    <div class="pt-3">
                        <small class="text-muted ml-2">Forgot password? <a href="{% url 'password_reset' %}">Reset password</a></small>
                    </br>
                        <small class="text-muted">Need an account? <a class="ml-2" href="{% url 'rodeo-register' %}">Sign Up</a></small>
                    </div>
               
                </div>
            </div>
        </form>
    </div>
</body>
</html>


