{% extends "rodeo_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <div class="card form-group mt-5">
                    <div class="card-body">
                    <h5 class="card-title">Reset password</h5>
                        {{ form|crispy }}
                        <button class="btn btn-outline-info mt-2" type="submit">Reset</button>
                   
                    </div>
                </div>
            </form>
            
        </div> 
{% endblock content %}

