{% extends "rodeo_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
                <div class="media">
                        <img class="rouded-circle" src="{{ user.profile.image.url }}">
                        <div class="media-body">
                                <h2 class="account-heading">{{ user.username }}</h2>
                                <p class="text-secondary">{{ user.email }}</p>
                        </div>
                </div>
                <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card form-group mt-5">
                                <div class="card-body">
                                        <h5 class="card-title">User details</h5>
                                        {{ user_form|crispy }}
                                        {{ profile_form|crispy }}
                                        <button class="btn btn-outline-info mt-2" type="submit">Update</button>  
                                </div>
                        </div>
                </form>
        </div>
{% endblock content %}

