@import "_navbar";
//@import "_login";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
}


//Hero Section

.hero {
    background-color: $dark;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 65vh;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 30px;

        @include tablet {
            grid-template-columns: 1fr;
            height: 100%;
        }

        &--left {
            width: 100%;
            line-height: 1.2;

            @include tablet {
                padding: 9rem 0;
            }

            @include mobile {
                line-height: 1.5;
            }
        }

        &--left h1 {
            font-size: 3.5rem;
            color: $light;

            @include mobile {
                font-size:  1.5rem;
            }
        }

        &--left h2 {
            font-size: 3.5rem;
            color: $light;

            @include mobile {
                font-size:  2rem;
            }
        }

        &--left p {
            font-size: 1.2rem;
            color: $light;
            margin-top: 1rem;
            font-style: italic;

            @include mobile {
                font-size:  2rem;
            }
        }

        &--btn {
            font-size: 1rem;
            background: transparent;
            border: 3px solid white;
            padding: 14px 32px;
            border-radius: 30px;
            color: $light;
            margin-top: 2rem;
            cursor: pointer;
            position: relative;
            transition:  all 0.3s;
            outline: none;

            &:hover{
                background: red;
                transition: all 0.3s ease;
            }
        }

        &--btn a {
            position:relative;
            z-index: 2;
            color: $light;
            text-decoration: none;

            &--btn::after {
                position: absolute;
                content: '';
                top:0;
                left:0;
                width: 0;
                height: 100%;
                background: red;
                transition: all 0.3s;
                border-radius: 4px;
            }

            &--btn:hover::after {
                width: 100%;
            }


            &--right {
                text-align: center;
            }
        }
    }
}

.games {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: $light;

    .game {
        margin: 20px 10px 20px 10px;
        display: inline-block;
        //margin: 10px;
        text-align: left;
        opacity: .99;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);

        & ::before {
            content: '';
            background: $dark;
            width: 100%;
            height: 50%;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2;
            transition-property: top, opacity;
            transition-duration: 0.3s;
            }

        .details {
            font-size: 16px;
            padding: 20px;
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 3;

            & span {
                display: block;
                opacity: 0;
                position: relative;
                top: 100px;
                transition-property: top, opacity;
                transition-duration: 0.3s;
                transition-delay: 0s;
                }

            .title {
                line-height: 1;
                font-weight: 600;
                font-size: 18px;
                  }

            .info {
                line-height: 1.2;
                margin-top: 5px;
                font-size: 12px;
                  }
        }

        &:focus:before,
        &:focus span, 
        &:hover:before,
        &:hover span {
            opacity: 1;
            }
        &:focus:before, 
        &:hover:before {
             top: 50%;
            }
        &:focus span, 
        &:hover span {
        top: 0;
        }
        &:focus .title, 
        &:hover .title {
                transition-delay: 0.15s;
        }
        &:focus .info, 
        &:hover .info {
                transition-delay: 0.25s;
        }

    }
}