{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'rodeo_app/memorystyle.css' %}"></link>
    <link rel="stylesheet" href="{% static 'rodeo_app/style.css' %}"></link>
    <title>Gra w zapamiętywanie</title>
  </head>
  <body class="bg-dark">
   
<nav class="navbar">
    <a href="{% url 'rodeo-home' %}"" class="navbar__logo">
        <img src="{% static 'rodeo_app/logo7.png' %}" width="140" height="40">
    </a>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="menu-icon__line"></span>
    </label>
    <ul class="navbar__menu">
        <li class="nav-link"><a href="{% url 'rodeo-home' %}" class="navbar__menu--links">Games</a></li>
        <!-- <li class="nav-link"><a href="#" class="navbar__menu--links">Categories</a></li> -->
        <li class="nav-link"><a href="http://localhost:9999" class="navbar__menu--links">Chat</a></li>
        {% if user.is_authenticated %}
        <li class="nav-link"><a href="{% url 'rodeo-profile' %}" class="navbar__menu--btn" id="button">Profile</a></li>
        <li class="nav-link"><a href="{% url 'rodeo-logout' %}" class="navbar__menu--btn" id="button">Logout</a></li>
        {% else %}
        <li class="nav-link"><a href="{% url 'rodeo-login' %}" class="navbar__menu--btn" id="button">Sign in</a></li>
        <li class="nav-link"><a href="{% url 'rodeo-register' %}" class="navbar__menu--btn" id="button">Sign up</a></li>
        {% endif %}
</nav>


  
   <div class="container">
      <h1>Punkty: <span id="score"></span></h1>

    <div class = "panel"></div>
    <br/>
    <br/>
    <br/>
    <div id = "again"></div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', ()=>{
    const images =[
        {
        name: 'axe',
        img:"{% static 'rodeo_app/axe.png' %}"
        },
        {
        name: 'sword',
        img:"{% static 'rodeo_app/sword.png' %}"
        },
        {
        name: 'shield',
        img:"{% static 'rodeo_app/shield.png' %}"
        },
        {
        name: 'pike',
        img:"{% static 'rodeo_app/pike.png' %}"
        },
        {
        name: 'mace',
        img:"{% static 'rodeo_app/mace.png' %}"
        },
        {
        name: 'dagger',
        img:"{% static 'rodeo_app/dagger.png' %}"
        },
        {
        name: 'crossbow',
        img:"{% static 'rodeo_app/crossbow.png' %}"
        },
        {
        name: 'bow',
        img:"{% static 'rodeo_app/bow.png' %}"
        },
        
    ]

    shuffle(images);

    const panel =document.querySelector('.panel')
    var imagesChosen = []
    var imagesChosenNr = []
    var imagesMatched = []

    const resultDisplay=document.querySelector('#score')

    function create(){
        for(let i=0; i<images.length; i++){
            var image = document.createElement('img')
            image.setAttribute('src', "{% static 'rodeo_app/blank.png' %}")
            image.setAttribute('id', i)
            image.addEventListener('click', flip)
            panel.appendChild(image)
        }
    }

    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;
      
        while (0 !== currentIndex) {
      
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          temporaryValue = array[currentIndex];
          array[currentIndex] = array[randomIndex];
          array[randomIndex] = temporaryValue;
        }
      
        return array;
      }

    function generateButton(){
        var button = document.createElement("button");
        button.innerHTML = "Zagraj Ponownie!";
        var again = document.getElementById('again');
        again.appendChild(button);
        
        button.addEventListener("click", function(){
            location.reload();
        })

    }

    function checForkMatch(){
        var img = document.querySelectorAll('img')
        const optionOneId = imagesChosenNr[0]
        const optionTwoId = imagesChosenNr[1]
        if(imagesChosen[0]===imagesChosen[1]){
            alert('Znalazłeś parę')
            img[optionOneId].setAttribute('src', "{% static 'rodeo_app/empty.png' %}")
            img[optionOneId].removeEventListener('click', flip)
            img[optionTwoId].setAttribute('src', "{% static 'rodeo_app/empty.png' %}")
            img[optionTwoId].removeEventListener('click', flip)
            imagesMatched.push(imagesChosen[0])
        }else{
            img[optionOneId].setAttribute('src', "{% static 'rodeo_app/blank.png' %}")
            img[optionTwoId].setAttribute('src', "{% static 'rodeo_app/blank.png' %}")
            alert('Nie udało się')
        }
        imagesChosen.splice(0, imagesChosen.length)
        imagesChosenNr.splice(0, imagesChosenNr.length)

        
        resultDisplay.textContent = imagesMatched.length
        if(imagesMatched.length===8){
            generateButton()
        }
    }

    function flip(){
        var imageNr=this.getAttribute('id')
        imagesChosen.push(images[imageNr].name)
        imagesChosenNr.push(imageNr)
        this.setAttribute('src', images[imageNr].img)
        if(imagesChosen.length===2){
            setTimeout(checForkMatch, 100)
        }
    }

    create()
})
  </script>
  </body>
</html>